body{
    background-color: #333;
    height:100%;
    min-width: 1024px;
}

h1,h2,h3,h4,p{
    font-family: Arial,sans-serif;
}

.maincontent{
    margin-top: 0px;
    width:1024px;
    height:688px;
    /*background-image: url("../imgs/background.jpg");*/
    /*background-size: cover;*/
    padding: 0px 30px 0px 30px;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    width:100%;
    height: 100vh;
}
.container>.navbar-header{
    margin-right: 0;
    margin-left: 50px;
    width: 250px;
    float: left;
}

.navbar>.container .navbar-brand{
    margin:0px;
    padding-left: 5px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #eee; 
    border-top: 1px solid #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 2px solid #eee;
    width:20px;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 8px;
} 

/*.tab-pane{
    overflow-y: auto;
}*/

.txtcenter{
    text-align: center;
}
.txtright{
    text-align: right;
}
ul{
    padding-left: 18px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar .container{
    width:963px;
}
.navbar-brand img{
    border-radius: 50px;
}

.text_orange{
    color: #de4e00;
}

.profile{
    margin-top: 10px;
    width:180px;
    color: #fff;
    display: block;
    float:left;
}
.top_menu{
    margin-top: 10px;
    background-color: #fbfbfb;
    border-radius: 3px;
    margin-bottom: 10px;
    float: right!important;
    margin-right: -15px;
}
.navbar .top_menu li a{
    color: #4f656d;
}
.navbar .top_menu li .active, .navbar .top_menu li a:hover, .navbar .top_menu li a:active, .navbar .top_menu li .active span,  .navbar .top_menu li a:hover span{
    color:#244262;
    text-decoration: underline;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color:#244262;
    text-decoration: underline;
    font-weight: bold;
}

.top_menu li{
    width:130px;
    margin: 10px 0px 10px 0px; 
    border-left: 1px Solid #dddddd;
    float: left;
}
.top_menu li:nth-of-type(1){
    width:68px;
}
.top_menu li:nth-of-type(2){
    width:148px;
}
.top_menu li:nth-of-type(3){
    width:135px;
}
.top_menu li:nth-of-type(4){
    width:130px;
}
.top_menu li:nth-of-type(5){
    width:120px;
}
.top_menu li:nth-of-type(6){
    width:111px;
}
.top_menu li a{
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.separator{
    width:100%;
    height:1px;
    background-color:#fbfbfb; 
    display: block;
    position: relative;
    float: left;
    margin-bottom:20px;
}

.nav-tabs{
    padding-left:20px;
    border-bottom: none;
}

.tab-content{
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 8px #555555;
}
.tab-content h4{
    color:#587480;
    font-weight: bold;
    margin: 5px 0px 2px 0px;
}
.tab-content p{
    margin: 0px 0px 8px 0px;
    font-size: 13px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d7984+0,7d9ba5+100 */
    background: #5d7984; /* Old browsers */
    background: -moz-linear-gradient(top,  #5d7984 0%, #7d9ba5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5d7984 0%,#7d9ba5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5d7984 0%,#7d9ba5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d7984', endColorstr='#7d9ba5',GradientType=0 ); /* IE6-9 */

    color: #deedf0;
    border: 1px Solid #ddd;
    border-radius: 4px;
}

.nav-tabs>li.active::after{
    content:"";
    border-style: solid;
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left:-10px;
    border-width: 8px 10px 0 10px;
    border-color: #7d9ba5 transparent transparent transparent;
}


.nav-tabs>li.topage>a::after{
    content:url("../imgs/arrow_right.png");
    margin-left:6px;
}

.nav-tabs>li>a{
    background-color: #fff;
    border: 1px Solid #ddd;
    box-shadow: 0px 1px 1px #ddd;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #4f656d;
}

.abbvie_logo{
    background:url('../imgs/logo.png');
    width:116px;
    height:21px;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    display:block;
    margin-left: 840px;
    margin-top: 645px;
}
.roundcharttab{
    margin-top:15px;
}
.roundcharttab > div{
    height: 115px;
    padding-right: 0px;
    padding-left: 0px;
}
.chartxt{
    text-align: center;
    margin-bottom: 0px;
    color: #597682;
    font-family: Arial,sans-serif;
}

.gray_container{
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;
    padding: 15px;
    display:block;
    box-shadow: 0px 0px 8px #555555;
    margin: 30px 0px 20px 0px;
}

.gray_container>h1{
    margin-top: 2px;
} 

.gray_container>div>h2{
    margin-top: 2px;
}

.arrow_down{
    background-image: url("../imgs/arrow_down.png");
    background-size: 11px 15px;
    width:11px;
    height:15px;
    position: relative;
    display: block;
    float: right;
    margin-left: 5px;
    margin-top: 2px;
}

.panel{
    margin-bottom: 0px;
}

.dropdown-menu{
    min-width: 149px;
}

.dropdown-menu li{
    border-bottom: 1px Solid #4f656d;
    text-align: center;
}

.dropdown-menu li:last-of-type{
    border-bottom: none;
}

.ulnumbers{
    list-style-type:decimal;
    padding-left: 20px;
}

.modal p{
    margin-bottom: 5px;
    font-size: 13px;
}
.modal h4{
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}

.modal .panel-heading, .modal .panel-body{
    padding: 5px 15px;
}
.modal .modal-header, .modal .modal-footer{
    padding: 7px 15px;
}

.ulplus{
    list-style-type: none;
    padding-left: 0px;
}
.ulplus>li{
    font-weight: bold;
    padding-top: 15px;
    text-indent: -15px;
    margin-left: 13px;
}
.ulplus>li::before{
    content:"+ ";
    /*display: inline-block;*/
    font-weight: bold;
    width:10px;
    padding-right: 3px;
}
.ulplus a{
    color: #191919;
}

.ulplus li > div, .ulplus .collapse{
    font-weight: normal;
    padding-left: 0px;
    text-indent: 0px;
}

.ulplus>li h4{
    font-size: 14px;
}

.ulplus>li ul>li a{
    color: #587480;
    text-decoration: underline;
}

.ulplus>li ul>li{
    list-style-type: disc;
}

.ulplus>li ul>li>ul>li{
    list-style-type: circle;
}

.double_button_holder>.col-xs-2{
    padding:0px 2px 0px 2px;
}

.double_button_holder>.col-xs-2 button{
    width:100%;
    white-space: normal;
}

.btn-twoline{
    display: block;
    float:left;
    margin-bottom: 5px;
    width: 100%;
}

.btn-twoline button:nth-of-type(2) {
    width:100%;
    border-radius: 4px !important;
    min-height:27px;
    padding:0px;
}

.burger_menu{
    position: absolute;
    top:14px;
    margin-left: 0px;
}

.burger_menu .dropdown-toggle{
    padding:5px;
}

.pnomargin, .pnomargin p{
    margin:0px;
}

.onboarding_table{
    margin-bottom: 1px;
}

.onboarding_table tbody tr td{
    padding: 0px 10px 0px 12px;
    border-bottom: 1px Solid #f59420;
    font-size: 12px;
    border-top: none;
}

.onboarding_table td:first-of-type{
    border-right: 1px Solid #e05025;
    text-align: right;
}

.table_header{
    background-color: #e05025;
    color: #ffffff;
}
.onboarding_table tbody .table_header td{
    padding-top: 2px;
    padding-bottom: 1px;
    border-bottom: none;
}

#FireworksContainer{
    width:100%;
    height: 270px;
    position: absolute;
    width: 470px;
    margin-top: -146px;
}

.p0_title_container{
    margin: 25px 0px 0px 0px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 8px #555555;
}
.p0_title_container h3{
    margin: 0px;
}
.p0_title_container h1{
    font-weight: bold;
    color: #de4e00;
    font-size: 55px;
    margin: 0px;
}
.p0_picture{
    padding-left: 0px;
}
.p0_picture img{
    /*position: absolute;*/
    /*margin-top: -146px;*/
    /*width: 470px;*/
}
.p0_txt{
    margin-top: 10px;
    font-size: 16px;
    color:#000000;
    font-weight:normal;
    display: block;
    position: relative;
}

#p2home, #p2definitions, #p2role{
    padding:0px 25px 0px 15px; 
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

#p3home, #p3tools, #p3faqs, #p3terms{
    padding:0px 25px 0px 15px; 
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

#p3faqs{
    background-image: url("../imgs/start_jurney_now.png");
    background-position: right;
    background-repeat: no-repeat;
}

.subpagetitle h4{
    font-size: 16px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#p4home, #p4dm, #p4dst, #p4ra, #p4nst{
    padding: 0px 25px 0px 15px;
    height: 375px;
    overflow-x: hidden;
}

#p5home, #p6home{
    padding: 0px 25px 0px 15px;
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}
#p5 .tab-content{
    background-image: url("../imgs/quick_links.png");
    background-position: right;
    background-repeat: no-repeat;
}
#p5home a, #p6home a{
    color: #191919;
}
