    
.row-eq-height{
    padding: 0px 0px 0px 10px;
    margin-top: 7px;
    box-shadow: #C0CED4 3px 3px 10px;
    background-color: #00A651;
    display: flex;
    border: none;
    border-radius: 0px;
}

.row-eq-height.success{
    background-color: #00A651;
}

.row-eq-height.danger{
    background-color: red;
}
.row-eq-height.warning{
    background-color: orange;
}

.noMarginPadding {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.insiderow{
    background-color: #D8E0E3;
    cursor:pointer; 
    height: 100%; 
    padding-left: 10px;
}
.insiderow{ 
    color: #647F8A;
    font-size: 16px;
    line-height: 26px;
}
.insiderow h4{
    color: #587480;
}

.insiderow > div{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 10px 0px 10px 0px;
    border-right: 1px Solid #bbb;
}

.insiderow > div:last-of-type {
    border-right: none;
}